<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StayConnected</title>
</head>
<body>
<!--    <h1>My Properties</h1>-->
<!--    <table>-->
<!--      <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Location</th>-->
<!--        <th>Actions</th>-->
<!--      </tr>-->
<!--      <tr th:each="property : ${properties}">-->
<!--        <td th:text="${property.title}"></td>-->
<!--        <td th:text="${property.location.city} + ', ' + ${property.location.country}"></td>-->
<!--        <td>-->
<!--          <a th:href="@{/properties/{id}(id=${property.id})}">View</a>-->
<!--          <a th:href="@{/properties/{id}/edit(id=${property.id})}">Edit</a>-->
<!--          <form th:action="@{/properties/{id}/delete(id=${property.id})}" method="post">-->
<!--            <button type="submit">Delete</button>-->
<!--          </form>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </table>-->
</body>
</html>