<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | StayConnected</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/auth-form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

<header class="header header-centered">
    <nav class="nav-container">
        <div class="nav-content-centered">
            <!-- Decorative Element Left -->
            <div class="header-decoration"></div>

            <!-- Logo and Title -->
            <div class="logo-section">
                <h1 class="logo-title">StayConnected</h1>
            </div>

            <!-- Decorative Element Right -->
            <div class="header-decoration"></div>
        </div>
    </nav>
</header>

<main class="main-content">
    <div class="container">
        <div class="wrapper">
            <div class="card">

                <a th:href="@{/}"><i class="fa-solid fa-arrow-left go-back-arrow"></i></a>


                <div class="form-header">
                    <h2 class="title">[[#{login.text}]]</h2>
                </div>

                <p th:if="${successfulRegistration}" th:text="${successfulRegistration}" class="success-register" style="margin-bottom: 10px"></p>

                <form class="form" th:action="@{/auth/login}" th:method="POST" th:object="${loginRequest}">

                    <p th:if="${errorMessage}" th:text="${errorMessage}" class="alert-warning"></p>

                    <div class="form-group">
                        <label for="username" class="form-label">[[#{login.username-text}]]</label>
                        <input
                                th:field="*{username}"
                                type="text"
                                id="username"
                                class="form-input"
                                th:placeholder="#{login.enter.username}"
                        >

                        <p class="alert-warning" th:if="${#fields.hasErrors('username')}"
                           th:errors="*{username}"></p>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">[[#{login.password-text}]]</label>
                        <input
                                th:field="*{password}"
                                type="password"
                                id="password"
                                class="form-input"
                                th:placeholder="#{login.enter.password}"
                        >

                        <p class="alert-warning" th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"></p>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-full">[[#{login.cta.button}]]</button>
                </form>

                <div class="divider">
                    <span>[[#{login.or}]]</span>
                </div>

                <div class="google-signin-container">
                    <a th:href="@{/oauth2/authorization/google}" class="google-signin-btn">
                        <img
                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4="
                                alt="Google Icon"
                                class="google-icon"
                        />
                        [[#{login.sign.in.with.google}]]
                    </a>
                </div>

                <div class="github-signin-container">
                    <a th:href="@{/oauth2/authorization/github}" class="github-signin-btn">
                        <img
                                src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png"
                                alt="GitHub Icon"
                                class="github-icon"
                        />
                        [[#{login.sign.in.with.github}]]
                    </a>
                </div>


                <div class="footer" style="border-top: none">
                    <p class="link-text">
                        [[#{login.dont.have.account}]]
                        <a th:href="@{/auth/register}" class="link">[[#{index.register}]]</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>
