<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | StayConnected</title>
    <meta name="description" content="Create your StayConnected account and start connecting with people around the world.">
    <link rel="stylesheet" href="/css/auth-form.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
<!-- Header -->
<header class="header header-centered">
    <nav class="nav-container">
        <div class="nav-content-centered">
            <!-- Decorative Element Left -->
            <div class="header-decoration"></div>

            <!-- Logo and Title -->
            <div class="logo-section">
                <h1 class="logo-title">StayConnected</h1>
            </div>

            <!-- Decorative Element Right -->
            <div class="header-decoration"></div>
        </div>
    </nav>
</header>

<!-- Register Section -->
<main class="main-content">
    <div class="container">
        <div class="wrapper">
            <div class="card">

                <a th:href="@{/}"><i class="fa-solid fa-arrow-left go-back-arrow"></i></a>


                <div class="form-header">
                    <h2 class="title">[[#{register.title}]]</h2>
                    <p class="subtitle">[[#{register.subtitle}]]</p>
                </div>

                <form class="form" th:action="@{/auth/register}" th:method="POST" th:object="${registerRequest}">
                    <div class="form-group">
                        <label for="firstName" class="form-label">[[#{register.first-name.label}]]</label>
                        <input
                                th:field="*{firstName}"
                                type="text"
                                id="firstName"
                                class="form-input"
                                th:placeholder="#{register.first-name.input}"
                        >
                        <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}"
                            th:errors="*{firstName}"></p>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="form-label">[[#{register.last-name.label}]]</label>
                        <input
                                th:field="*{lastName}"
                                type="text"
                                id="lastName"
                                class="form-input"
                                th:placeholder="#{register.last-name.input}"
                        >
                        <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}"
                           th:errors="*{lastName}"></p>
                    </div>

                    <div class="form-group">
                        <label for="email" class="form-label">[[#{register.email.label}]]</label>
                        <input
                                th:field="*{email}"
                                type="text"
                                id="email"
                                class="form-input"
                                th:placeholder="#{register.email.input}"
                        >
                        <p class="alert-warning" th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"></p>

                        <p th:if="${emailErrorMessage}" th:text="${emailErrorMessage}" class="alert-warning"></p>
                    </div>

                    <div class="form-group">
                        <label for="username" class="form-label">[[#{register.username.label}]]</label>
                        <input
                                th:field="*{username}"
                                type="text"
                                id="username"
                                class="form-input"
                                th:placeholder="#{register.username.input}"
                        >
                        <p class="alert-warning" th:if="${#fields.hasErrors('username')}"
                           th:errors="*{username}"></p>

                        <p class="alert-warning" th:if="${usernameErrorMessage}" th:text="${usernameErrorMessage}"></p>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">[[#{register.password.label}]]</label>
                        <input
                                th:field="*{password}"
                                type="password"
                                id="password"
                                class="form-input"
                                th:placeholder="#{register.password.input}"
                        >
                        <p class="alert-warning" th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"></p>
                    </div>


                    <button type="submit" class="btn btn-primary btn-lg btn-full">[[#{register.submit.button}]]</button>
                </form>

                <div class="footer">
                    <p class="link-text">
                        [[#{register.link-text}]]
                        <a th:href="@{/auth/login}" class="link">[[#{register.link}]]</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>